
// Colours
$bodyColour: #1a1a1a;
$headingColour: darken($bodyColour, 5%);
$linkColour: #ab1e1e;
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$white: #fff;
$black: #000000;

$backgroundColour: #f2d191;
$codeBackgroundColour: darken($backgroundColour, 5%);
$headerColour: #cba151;
$postColour: #e6da5c;
