
// Colours
$bodyColour: #1a1a1a;
$headingColour: darken($bodyColour, 5%);
$linkColour: #173d73;
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$white: #fff;

$backgroundColour: #e6de8a;
$codeBackgroundColour: darken($backgroundColour, 5%);
$headerColour: #ccb129;
$postColour: #e6da5c;
