
// Colours
$bodyColour: #000000;
$headingColour: darken($bodyColour, 5%);
$linkColour: #517ab3;
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$white: #fff;

$backgroundColour: #bfa560;
$codeBackgroundColour: darken($backgroundColour, 5%);
