---
title: false
---

@import "garth";
@import url('https://fonts.googleapis.com/css?family=Bangers|Sriracha');


body{
  font-family: 'Sriracha', sans-serif;
}

nav, strong{
  font-family: 'Bangers', sans-serif;
  font-weight: 500;
}

.header{
  background-color: $headerColour;
}

.item--post{
  outline-style: solid;
  outline-width: medium;
  outline-offset: .25em;
  background-color: $postColour;
  background-size: .25em;
}

.typeset h1, .typeset h2, .typeset h3, .typeset h4, .typeset h5, .typeset h6{
  color: #0d0d0d;
  font-family: "Bangers", serif;
  font-style: normal;
  font-weight: 700;
}

.typeset small, .typeset .caption{
  font-size: 1.0666666667rem;
  font-family: "Sriracha", sans-serif;
  font-style: normal;
  font-weight: 400;
}
